
.rb-mrwhite-container {

  .rb-add-player-label {
    margin-right: 15px;
  }

  .rb-margin-bottom {
    margin-bottom: 30px;
  }

  .rb-margin-top {
    margin-top: 20px;
  }


}

.rb-input-add-name {
  width: 60%;
}
